PORT = "PORT" || 3002
HOST = "HOST" || 127.0.0.1
uri = "mongodb://localhost:27017/db-name" || "mongo_atlas_link"
JWT_SECRET_KEY = "jwt_secret_key"
MAIL_SMTP = "smtp provider"
MAIL_ID = "mail id"
MAIL_PASSWORD = "password"
BASE_URL = "http://HOST:PORT/api" || "http://127.0.0.1:9001/api"
SESSION_SECRET = "session_secret"

